asgiref==3.8.1 ; python_version >= "3.10"
async-timeout==5.0.1 ; python_version >= "3.10" and python_full_version < "3.11.3"
attrs==25.3.0 ; python_version >= "3.10"
autobahn==24.4.2 ; python_version >= "3.10"
automat==24.8.1 ; python_version >= "3.10"
cffi==1.17.1 ; python_version >= "3.10" and platform_python_implementation != "PyPy"
channels-redis==4.2.1 ; python_version >= "3.10"
channels==4.2.2 ; python_version >= "3.10"
constantly==23.10.4 ; python_version >= "3.10"
cryptography==44.0.2 ; python_version >= "3.10"
daphne==4.1.2 ; python_version >= "3.10"
django==5.2 ; python_version >= "3.10"
hyperlink==21.0.0 ; python_version >= "3.10"
idna==3.10 ; python_version >= "3.10"
incremental==24.7.2 ; python_version >= "3.10"
msgpack==1.1.0 ; python_version >= "3.10"
pyasn1-modules==0.4.2 ; python_version >= "3.10"
pyasn1==0.6.1 ; python_version >= "3.10"
pycparser==2.22 ; python_version >= "3.10" and platform_python_implementation != "PyPy"
pyopenssl==25.0.0 ; python_version >= "3.10"
redis==5.2.1 ; python_version >= "3.10"
service-identity==24.2.0 ; python_version >= "3.10"
setuptools==78.1.0 ; python_version >= "3.10"
sqlparse==0.5.3 ; python_version >= "3.10"
tomli==2.2.1 ; python_version == "3.10"
twisted==24.11.0 ; python_version >= "3.10"
txaio==23.1.1 ; python_version >= "3.10"
typing-extensions==4.13.1 ; python_version >= "3.10"
tzdata==2025.2 ; python_version >= "3.10" and sys_platform == "win32"
zope-interface==7.2 ; python_version >= "3.10"
