{% extends 'layouts/accounts.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/accounts/login.css' %}">
{% endblock %}
{% block content %}
    {% include 'partials/messages.html' %}
    <div class="login-container">
        <div class="login-header">
            <h1 class="login-title">Forgot Password</h1>
            <p class="login-subtitle">Enter your email to receive a reset password link.</p>
        </div>
        <div class="login-form">
            <form action="{% url 'forgot_password' %}" method="post">
                {% csrf_token %}
                <div class="form-item">
                    <input style="width: 100%"
                           type="email"
                           id="email"
                           name="email"
                           autocomplete="email"
                           required>
                    <label for="email">Email Address</label>
                </div>
                <div class="form-actions">
                    <button type="submit" class="login-button">Send Link</button>
                </div>
                <div class="login-links">
                    <span>Already have an account? <a style="color: #E53935;" href="{% url 'login' %}" class="login-link">Log in</a></span>
                </div>
            </form>
        </div>
    </div>
    <script>
    const url = new URLSearchParams(window.location.search)
    const redirect = url.get('redirect')

    if (redirect) {
        document.querySelector("#email")
        .setAttribute('disabled', "")
    
        document.querySelector('.login-button')
        .setAttribute('disabled', "")

        setTimeout(() =>  {
            window.location.href=decodeURIComponent(redirect)
        }, 3000)
    }
    </script>
{% endblock %}
