{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{% static 'imgs/logo.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/votes/go_poll.css' %}" />
    <title>Go Poll | Votox</title>
  </head>
  <body>
    <header>
        <button>
            Home
        </button>
        <button>
            Account
        </button>
    </header>

    <main>
        <div class="card">
            <img src="{% static 'imgs/logo.png' %}" alt="Votox Logo">
        </div>
    </main>

  </body>
</html>
