{% extends 'layouts/layout.html' %}
{% load static %}
{% block title %}
  Community Pollings
{% endblock %}
{% block head %}
  <link rel="stylesheet" href="{% static 'css/votes/pollings.css' %}" />
{% endblock %}
{% block content %}
  {% include 'partials/messages.html' %}
  <div class="container" id="poll-list-view">
    <section class="header">
      <h1>Community Pollings</h1>
      <small class="helper-h1">Help people to answer collective questions, participate on a poll.</small>
      <div class="input-group">
        <input type="text" placeholder="Search for a poll" />
        <button class="search-btn">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
          </svg>
        </button>
      </div>
    </section>
    <div class="tabs">
      <div class="tab active" onclick="setActiveTab(this)" hx-get="{% url 'pollings' %}?flag=all_polls" hx-target="#pollsSections" hx-trigger="click">All Polls</div>
      <div class="tab" onclick="setActiveTab(this)" hx-get="{% url 'pollings' %}?flag=my_polls" hx-target="#pollsSections" hx-trigger="click">My Polls</div>
    </div>
    <section class="polls" id="pollsSections">
      {% include 'partials/poll.html' %}
    </section>
  </div>

  <script src="https://unpkg.com/htmx.org@2.0.4"></script>
  <script>
    function setActiveTab(clickedTab) {
      document.querySelectorAll('.tab').forEach((tab) => {
        tab.classList.remove('active')
      })
      clickedTab.classList.add('active')
    }
  </script>
{% endblock %}
