{% extends 'layouts/layout.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/votes/pollings.css' %}">
{% endblock %}

{% block title %}
Pollings
{% endblock %}

{% block content %}
<main>
    <section class="header">
        <h1>Community Pollings</h1>
        <small class="helper-h1">Help people to answer colective questions, participate on a poll.</small>
        <hr>
        <div class="input-group">
            <input type="text" placeholder="Search for a poll">
            <button class="hash2">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                </svg>
            </button>
        </div>
    </section>
    <section class="polls">
        <div class="poll-card">
            <div class="card-img">
                <img src="{% static 'imgs/welcome-img.jpg' %}" alt="Poll Image">
            </div>
            <div class="card-body">
                <h3 class="card-title">Votação dos melhores alimentos <span class="tag" style="font-weight: 400;">Comida</span></h3>
                
                <p class="card-desc">Qual é o melhor alimento quando a fome bate de surpresa? Participe da votação!</p>
                <div class="poll-info">
                    <span class="poll-date">05/04/2025</span>
                    <div class="infos">
                        <span class="poll-votes"><svg class="vote-box" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-archive-fill" viewBox="0 0 16 16">
                            <path d="M12.643 15C13.979 15 15 13.845 15 12.5V5H1v7.5C1 13.845 2.021 15 3.357 15zM5.5 7h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1M.8 1a.8.8 0 0 0-.8.8V3a.8.8 0 0 0 .8.8h14.4A.8.8 0 0 0 16 3V1.8a.8.8 0 0 0-.8-.8z"/>
                          </svg>254</span>
                        <span class="poll-votes"><svg  class="star" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                          </svg> 80%</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="poll-card">
            <div class="card-img">
                <img src="{% static 'imgs/welcome-img.jpg' %}" alt="Poll Image">
            </div>
            <div class="card-body">
                <h3 class="card-title">Votação dos melhores alimentos <span class="tag" style="font-weight: 400;">Comida</span></h3>
                
                <p class="card-desc">Qual é o melhor alimento quando a fome bate de surpresa? Participe da votação!</p>
                <div class="poll-info">
                    <span class="poll-date">05/04/2025</span>
                    <div class="infos">
                        <span class="poll-votes"><svg class="vote-box" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-archive-fill" viewBox="0 0 16 16">
                            <path d="M12.643 15C13.979 15 15 13.845 15 12.5V5H1v7.5C1 13.845 2.021 15 3.357 15zM5.5 7h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1M.8 1a.8.8 0 0 0-.8.8V3a.8.8 0 0 0 .8.8h14.4A.8.8 0 0 0 16 3V1.8a.8.8 0 0 0-.8-.8z"/>
                          </svg>254</span>
                        <span class="poll-votes"><svg  class="star" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                          </svg> 80%</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="poll-card">
            <div class="card-img">
                <img src="{% static 'imgs/welcome-img.jpg' %}" alt="Poll Image">
            </div>
            <div class="card-body">
                <h3 class="card-title">Votação dos melhores alimentos <span class="tag" style="font-weight: 400;">Comida</span></h3>
                
                <p class="card-desc">Qual é o melhor alimento quando a fome bate de surpresa? Participe da votação!</p>
                <div class="poll-info">
                    <span class="poll-date">05/04/2025</span>
                    <div class="infos">
                        <span class="poll-votes"><svg class="vote-box" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-archive-fill" viewBox="0 0 16 16">
                            <path d="M12.643 15C13.979 15 15 13.845 15 12.5V5H1v7.5C1 13.845 2.021 15 3.357 15zM5.5 7h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1M.8 1a.8.8 0 0 0-.8.8V3a.8.8 0 0 0 .8.8h14.4A.8.8 0 0 0 16 3V1.8a.8.8 0 0 0-.8-.8z"/>
                          </svg>254</span>
                        <span class="poll-votes"><svg  class="star" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                          </svg> 80%</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="poll-card">
            <div class="card-img">
                <img src="{% static 'imgs/welcome-img.jpg' %}" alt="Poll Image">
            </div>
            <div class="card-body">
                <h3 class="card-title">Votação dos melhores alimentos <span class="tag" style="font-weight: 400;">Comida</span></h3>
                
                <p class="card-desc">Qual é o melhor alimento quando a fome bate de surpresa? Participe da votação!</p>
                <div class="poll-info">
                    <span class="poll-date">05/04/2025</span>
                    <div class="infos">
                        <span class="poll-votes"><svg class="vote-box" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-archive-fill" viewBox="0 0 16 16">
                            <path d="M12.643 15C13.979 15 15 13.845 15 12.5V5H1v7.5C1 13.845 2.021 15 3.357 15zM5.5 7h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1M.8 1a.8.8 0 0 0-.8.8V3a.8.8 0 0 0 .8.8h14.4A.8.8 0 0 0 16 3V1.8a.8.8 0 0 0-.8-.8z"/>
                          </svg>254</span>
                        <span class="poll-votes"><svg  class="star" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                          </svg> 80%</span>
                    </div>
                </div>
            </div>
        </div>
    </section>    
</main>
{% endblock %}